{
    "root": true,
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "airbnb-typescript/base"
    ],
    "rules": {
      "consistent-return": "off",
      "func-names": "off"
    }
  }